<h4>TestComponent</h4>

<p>Test for changes in Primitive Types</p>

<p>String:{{str}}</p>
<p>Number:{{num}}</p>
<p>Boolean:{{bool}}</p>
<p>Date:{{date}}</p>

<p>Test for changes in Object:</p>
<form [formGroup]="userForm">
  <label>ID</label><input type="text" formControlName="id">

  <label>Name</label><input type="text" formControlName="name">

  <label>Age</label><input type="text" formControlName="age">
</form>

<button (click)="update()">Update User</button>

<button (click)="create()">Create User</button>
